{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row row-flex">
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Shares</label>
            <div class="col-lg-10">
                <select class="form-control" id="share-select">
                    {% for share in shares %}
                    <option value="{{share.id}}">{{ share.name }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
            <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Commodities</label>
            <div class="col-lg-10">
                <select class="form-control" id="commodity-select">
                    {% for commodity in commodities %}
                    <option value="{{commodity.id}}">{{ commodity.name }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        </fieldset>
    </form>
    
    <canvas id="myChart" width="500" height="400"></canvas>

    {% block javascript %} 
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            var shareChart;
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                shareChart = new Chart(ctx, {
                    type: 'line', data: data, backgroundColor: 'rgba(255, 255, 255, 0.1)'
                });
            });

            $('#share-select').on('change', function () {
            var selected_name = $('#share-select option:selected').text();   
            var selected_id = $('#share-select option:selected').val();
            var data = {'selected_id': selected_id, 'selected_name': selected_name};
            var url = "chartJSON/";
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
                },
                success: function (response) {
                    console.log('chart context:' + JSON.stringify(response));
                    shareChart.config.data = response;
                    shareChart.update();
                }
            });
        });
        </script>
    {% endblock %}     
</div>

{% endblock %}

