{% extends 'base.html' %}
{% load listing_extras %}
{% block content %}

<div class="row row-flex">
<h2>Commodities</h2>
{% for commodity in commodities %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel body">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ commodity.image }}')"></div>

        <h4>{{ commodity.name }}</h4>
        <p>Price: {{ commodity.price }}</p>
        {% if commodity.price < commodity.previous_price %}
            <p>Diff: <span class="negative-price">{{ commodity.price|subtract:commodity.previous_price }}</span></p>
        {% else %}
            <p>Diff: <span class="positive-price">+{{ commodity.price|subtract:commodity.previous_price }}</span></p>
        {% endif %}
        <p>Unit: {{ commodity.unit }}</p>

        <form method="post" action="{% url 'add_to_commodity_order' commodity.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity"/>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endfor %}
</div>

<div class="row row-flex">
<h2>Shares</h2>
{% for share in shares %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel body">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ share.image }}')"></div>

        <h4>{{ share.name }}</h4>
        <p>Price: {{ share.price }}</p>
        {% if share.price < share.previous_price %}
            <p>Diff: <span class="negative-price">{{ share.price|subtract:share.previous_price }}</span></p>
        {% else %}
            <p>Diff: <span class="positive-price">+{{ share.price|subtract:share.previous_price }}</span></p>
        {% endif %}

        <form method="post" action="{% url 'add_to_share_order' share.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity"/>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}