{% extends 'base.html' %}

{% block page_title %}{{ portfolio_user }}'s Portfolio{% endblock %}

{% block page_heading %}{{ portfolio_user }}'s Portfolio{% endblock %}

{% block content %}
<div class="row row-flex">
    <div><h1>Portfolio</h2></div>
    <div><h3><i>Current stock/commodity portfolio for: {{portfolio_user}}</i></h3></div>
    <br>
    <table class="table table-striped table-hover ">
        <thead>
            <tr class="info">
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Current price</th>
            <th>Quantity (Sell)</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for share_purchase in share_purchases %}
            <tr class="warning">
                <td>{{ share_purchase.share.name }}</td>
                <td>{{ share_purchase.quantity }}</td>
                <td>{{ share_purchase.share.price }}</td>
                <form class="form-inline" method="post" action="{% url 'sell_shares' share_purchase.id %}">
                    {% csrf_token %}
                    <td><input name="quantity" type="number" min="1" max="{{ share_purchase.quantity }}" class="form-control" placeholder="Quantity"></td>
                    <td><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Sell</button></td>
                </form>
            </tr>
            {% endfor %}
            {% for commodity_purchase in commodity_purchases %}
            <tr class="success">
                <td>{{ commodity_purchase.commodity.name }}</td>
                <td>{{ commodity_purchase.quantity }}</td>
                <td>{{ commodity_purchase.commodity.price }}</td>
                <form class="form-inline" method="post" action="{% url 'sell_commodities' commodity_purchase.id %}">
                    {% csrf_token %}
                    <td><input name="quantity" type="number" min="1" max="{{ commodity_purchase.quantity }}" class="form-control" placeholder="Quantity"></td>
                    <td><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Sell</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock%}
