{% extends 'base.html' %}

{% block page_title %}{{ portfolio_user }}'s Portfolio{% endblock %}

{% block page_heading %}{{ portfolio_user }}'s Portfolio{% endblock %}

{% block content %}
<div class="row row-flex">
    <div><h1>Portfolio</h2></div>
    <div><h3><i>Current stock/commodity portfolio for: {{portfolio_user}}</i></h3></div>
    <br>
    <table class="table table-striped table-hover ">
        <thead>
            <tr class="info">
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Current price</th>
            </tr>
        </thead>
        <tbody>
            {% for share_purchase in share_purchases %}
            <tr class="warning">
                <td>{{ share_purchase.share.name }}</td>
                <td>{{ share_purchase.quantity }}</td>
                <td>{{ share_purchase.share.price }}</td>
            </tr>
            {% endfor %}
            {% for commodity_purchase in commodity_purchases %}
            <tr class="success">
                <td>{{ commodity_purchase.commodity.name }}</td>
                <td>{{ commodity_purchase.quantity }}</td>
                <td>{{ commodity_purchase.commodity.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock%}
